html{
    background-image: url("concert-unsplash.jpg");
    background-size: cover;
    overflow-y: hidden;
}
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    height:30vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
}
.header a{
    font-size: 15vh;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family:"Copperplate Gothic Light" ,serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top:5vh ;
    padding-bottom: 0;
}
.header p{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    color: white;
    font-family: "Courier New",sans-serif  ;
    font-size: 2.5vh;
    color: #f3ae31;

}

.buttons{
    display: flex;
    padding-top: 20vh;
    justify-content: space-around;
    height: 70vh;


}

.btn{
    height: 11vh;
    width: 11vh;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.05s ease;
}
.btn a{
    font-size: 3.5vh;
    padding-bottom: 1vh;


}

.btn span{
    color: #f3b30e;
    font-size: 1.9vh;
}

.trnsfrm{
    transform: scale(1.2);
    box-shadow:1px 1px 8px 1.5px red;
;
}

#about{
    color: white;
    font-size:2vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vh;


}